<%- include('partial/header') %>

  <body style="background-color: #F1F6F5">
    <div class="outHome" >
      <div class="homeContainer">
        <i class="fa-solid fa-key fa-8x" ></i>
        <h1>Секреты</h1>
        <p >Не скрывай свои секреты, поделись ими анонимно</p>
        <hr>
        <form class="" action="/registration" method="get" style="display:inline-block ">
            <button class="btn"  style="background-color:#F3EFE0 ; margin-right: 20px" type="submit" name="regButton" >Регистрация</button>
        </form>
        <form class="" action="/login" method="get" style="display:inline-block">
            <button  class="btn btn-dark" type="submit" name="logButton" >Логин</button>
        </form>
      </div>
    </div>










  </body>
<%- include('partial/footer') %>
