<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid" style="padding: 10px 3% 0 8%">
    <a class="navbar-brand h1 brandMain" href="/secretMain"><i class="fa-solid fa-key" style="padding-right: 5px" ></i>СЕКРЕТЫ</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto  mb-2 mb-lg-0">
        <li class="nav-item pe-3">
          <a class="nav-link active" aria-current="page" href="/secretMain">Главная</a>
        </li>
        <li class="nav-item pe-3">
          <a class="nav-link" href="/mySecrets">Мои секреты</a>
        </li>
        <li class="nav-item pe-3">
          <a class="nav-link" href="/addPage">Добавить секрет</a>
        </li>
        <li class="nav-item pe-3">
          <form class="" action="/exit" method="post">
            <button class="btn btn-danger" type="submit" name="exitButton">Выйти</button>
          </form>
        </li>
        <li class="nav-item pe-3">
          <% var str = username.split("@"); %>

          <p> <%= str[0] %> </p>
        </li>
      </ul>
    </div>
  </div>
</nav>
